{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.patient %}
                        <li><a href="{% url 'patient_detail' %}">Patient Dashboard</a></li>
                        <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
                    {% endif %}
                    {% if user.doctor %}
                        <li><a href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_patient' %}">Register Patient</a></li>
                    <li><a href="{% url 'register_doctor_step1' %}">Register Doctor</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Main content of your homepage goes here -->
        <h1>Homepage</h1>
        <p>This is the main content of the  homepage.</p>
    </main>
</body>
</html>