{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <div class="notification">Welcome, {{ user.username }}!</div> <!-- Welcome message here -->
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.patient %}
                        <li><a href="{% url 'patient_detail' %}">Patient Dashboard</a></li>
                        <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
                    {% endif %}
                    {% if user.doctor %}
                        <li><a href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <div class="notification">You are not logged in.</div> <!-- Message for guests -->
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_patient' %}">Register Patient</a></li>
                    <li><a href="{% url 'register_doctor_step1' %}">Register Doctor</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Main content of your homepage goes here -->
        <section id="hands">
            <h2 id="hands-title">Osteopathy Kremer</h2>
        </section>
        <section id="intro">
            <p>In our practice, we treat patients of all age groups. Osteopathy and pediatric osteopathy are our
                specialties. Supplementary therapy methods and recommendations are utilized to alleviate and eliminate
                your complaints. Get to know us and form an impression of our practice as well as our treatment methods.
            </p>
        </section>

        <section id="treatment-section">
            <div id="treatment">
                <h3>Osteopathic Treatment</h3>
                <p>We reactivate the body's self-healing processes by restoring movement and rhythm. Osteopathic
                    treatment can be beneficial in cases of pain and restricted movement throughout the entire body.
                    Common triggers for pain often include blocked joints, visceral dysfunctions, adhered tissues, or
                    tense muscles. In osteopathy, we consider the spine, intervertebral discs, vertebral joints,
                    capsular ligaments, muscles, nerves, organs, and vessels. When the overall structure is healthy, you
                    will also feel well. Through osteopathy, we can discover and treat conditions such as spinal
                    problems, disc herniations, migraines, headaches, dysfunction of internal organs, digestive issues,
                    and much more. By addressing and resolving blockages, osteopathy aims to restore a pleasant sense of
                    well-being.
                </p>
            </div>
            <div id="treatment-image"></div>
        </section>
        <section id="appointment-section">
            <div id="appointment">
                <a href="{% url 'book_appointment' %}"><h3>Appointment Booking System</h3></a>
                <p><a href="{% url 'register_patient' %}">Register here to use our booking system!</a></p>
            </div>
            <div id="treatment-image"></div>
        </section>
    </main>
     <!-- Footer -->
    <footer>
        <ul id="social-networks">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)">
                    <i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)">
                    <i class="fa-brands fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>

    </footer>
       <!-- Font Awesome kit -->
    <script src="https://kit.fontawesome.com/3b20d96fa9.js" crossorigin="anonymous"></script>
</body>

</html>