<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Doctor</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
                    <li><a href="{% url 'patient_detail' %}">Patient Profile</a></li>
                    <li><a href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_patient' %}">Register</a></li>
                    <li><a href="{% url 'register_doctor' %}">Register Doctor</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h1>Register Doctor</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>