<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    {% if user.patient %}
                        <li><a href="{% url 'patient_detail' %}">Patient Dashboard</a></li>
                        <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
                    {% endif %}
                    {% if user.doctor %}
                        <li><a href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_patient' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>Book Appointment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book</button>
    </form>
</body>
</html>

