{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <!-- Toggle button -->
            <button class="nav-toggle" aria-label="Toggle navigation menu">☰</button>
            <ul class="nav-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <div class="notification">Welcome, {{ user.username }}!</div> <!-- Welcome message here -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
                    <li><a href="{% url 'patient_detail' %}">Patient Profile</a></li>
                    <li><a href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a></li>
                {% else %}
                    <div class="notification">You are not logged in.</div>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_patient' %}">Register</a></li>
                    <li><a href="{% url 'register_doctor_step1' %}">Register Doctor</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </main>
    <footer>
        <ul id="social-networks">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)">
                    <i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)">
                    <i class="fa-brands fa-youtube-square"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>

    </footer>
       <!-- Font Awesome kit -->
    <script src="https://kit.fontawesome.com/3b20d96fa9.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
</body>
</html>